<!DOCTYPE html>
<html style="background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%);">
  <head>
    <title>TheRestaurant</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body style="background-image: linear-gradient(to top, #fff1eb 0%, #ace0f9 100%); height: 100vh;"  >
      <div class = "container">
    
      <%= render "shared/navbar" %>
    
    <%= render "shared/alert"%>
    <%= yield %>
    </div>
  </body>
</html>
